.profile-header {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.cover-photo img {
  width: 120%;
  height: 300px;   /* bigger cover */
  object-fit: cover;
  border-radius: 8px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -80px; /* overlap effect */
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid rgb(30, 10, 174);
  object-fit: cover;
}

h1 {
  margin: px;
  font-size: 50px;
  width: 300px;
}

h2 {
  margin-top: 10px;
  font-size: 22px;

}

.verified {
  color: #1877f2;
  font-size: 18px;
}

.follow-btn {
  background: #0569eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
}

/* Add Friend button */
.addfriend-btn {
  background-color: #fdfdfd;   /* Facebook Blue */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.3s ease;
}

/* Hover effect */
.addfriend-btn:hover {
  background-color: #eceef1;   /* Darker blue on hover */
}


.followers {
  color: #fefeff;
}