.friends {
  background: white;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
}

.friend-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  margin-top: 8px;
  text-align: center;
}

.friend-grid img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.friend-grid p {
  margin: 5px 0 0 0;
  font-size: 13px;
  color: #000000;
}
